.entity-box {
  border: 1px solid #ccc;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 14px;
  display: inline-block;
  min-width: 100px;
  overflow:hidden;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;

  &:hover, &:hover+ul li .entity-box {
    background: #e8fdf6; color: #222; border: 1px solid #94a0b4;
  }

  &:hover+ul li::after,
  &:hover+ul li::before,
  &:hover+ul::before,
  &:hover+ul ul::before{
    border-color:  #94a0b4;
  }

  .entity-box-header {
    font-weight: bold;
    padding: 5px 10px;
    overflow: hidden;
  }

  .type-module {
    background-color: #7fffd4bf;
  }

  .type-class {
    background-color: #7ffff9bf;
  }

  .entity-box-body {
    font-size: 0.9em;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;

    .methods-box {
      padding: 5px 10px;
      border-top: solid 1px #ccc;

      .method-type {
        padding-bottom: 5px;

        span {
          white-space: nowrap;
        }
      }

      .method-name {
        text-indent: 8px;
        font-family: 'monospace';
        font-size: 0.9em;
        display: block;
        margin-bottom: 2px;
      }
    }
  }
}
